<%- include('../partials/head')%> <%- include('../partials/headerLogadoAdm') %>

    <div class="h1 text-center mb-5">Página do administrador</div>
    <!-- Botão de cadastro de novos médicos-->
    <div class="container mb-5">
      <div class="row">
        <div class="col-12 d-flex flex-wrap justify-content-center">
          <a href="/view/cadastro" class="btn btn-primary mx-4 mb-4">Cadastrar novo médico</a>
          <!-- Barras de pesquisa por médico e especialidade -->
          <div class="col-12 d-flex flex-wrap justify-content-center">
            <input class="border border-success rounded mx-4" type="text" id="filter-medico" onkeyup="pesquisarMedico()"
              placeholder="Pesquisar por médico" />
            <input class="border border-success rounded mx-4" type="text" id="filter-espec"
              onkeyup="pesquisarEspec()" placeholder="Pesquisar por especialidade" />
          </div>
        </div>
      </div>
    </div>
    <!-- Cartões -->
    <div id="card-container" class="container-fluid">
      <div class="row">
        <% resultado.forEach(item=>{ %>
          <div class="col-12 mt-3">
            <div class="card">
              <div class="card-horizontal" style="display: flex; flex: 1 1 auto;">
                <div class="img-square-wrapper">
                  <img class="" src="/img/<%=item.profile%>" alt="Card image cap" style="max-width: 310px">
                </div>
                <div class="card-body">
                  <h4 class="card-title">Nome: <%=item.pronome%>. <%=item.nome%>
                  </h4>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Sobrenome: <%=item.sobrenome%>
                    </li>
                    <li class="list-group-item">CRM: <%=item.crm%>
                    </li>
                    <li class="list-group-item">Telefone: <%=item.tel%>
                    </li>
                    <li class="list-group-item">Ramal: <%=item.ramal%>
                    </li>
                    <li class="espec list-group-item">Especialidade: <%=item.espec%>
                    </li>
                    <a href="editar/<%= item._id %>" class="btn btn-success mb-2">
                      <i class="bi bi-pen-fill"></i>
                      Editar
                    </a>
                    <a href="/view/deletar/<%= item._id %>" class="btn btn-danger">
                      <i class="bi bi-trash-fill"></i>
                      Eliminar
                    </a>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <% })%>
      </div>
    </div>

    <a class="text-center" href="#nav">
      <h1><i class="bi bi-arrow-up-circle"></i></h1>
    </a>

    <script type="text/javascript" src="/js/pesqMedicos.js"></script>

    <%- include('../partials/footer')%>