<%- include('../partials/head')%> <%- include('../partials/headerLogadoAdm') %>

    <div class="h1 text-center mt-4 mb-5 text-white">Página do administrador</div>
    <!-- Botão de cadastro de novos médicos-->
    <div class="container mb-5">
      <div class="row">
        <div class="col-12 d-flex flex-wrap justify-content-center">
          <a href="/view/cadastro" class="btn btn-primary mx-4 mb-4">Cadastrar novo médico</a>
          <!-- Barras de pesquisa por médico e especialidade -->
          <div class="col-12 d-flex flex-wrap justify-content-between mb-3">
            <input class="form-control border border-success rounded mx-4" type="text" id="filter-medico"
              onkeyup="pesquisarMedico()" placeholder="Pesquisar por médico" />
          </div>
          <div class="col-12 d-flex flex-wrap justify-content-between">
            <input class="form-control border border-success rounded mx-4" type="text" id="filter-espec"
              onkeyup="pesquisarEspec()" placeholder="Pesquisar por especialidade" />
          </div>
        </div>
      </div>
    </div>
    <!-- Cartões -->
    <div id="card-container" class="container-fluid">
      <div class="row no-gutters">
        <% resultado.forEach(item=>{ %>
          <div class="col-12 mb-3">
            <div class="card mb-3">
              <div class="d-flex" style="flex: 1 1 auto;">
                <div class="img-square-wrapper">
                  <img class="" src="/img/<%=item.profile%>" alt="Card image cap" style="max-width: 277px;">
                </div>
                <div class="card-body">
                  <h4 class="card-title">
                    <%=item.pronome%>. <%=item.sobrenome%>
                  </h4>
                  <ul class="list-group list-group-flush">
                    <li class="medico list-group-item">Nome: <%=item.nome%>
                        <%=item.sobrenome%>
                    </li>
                    <li class="list-group-item">CRM: <%=item.crm%>
                    </li>
                    <li class="list-group-item">Telefone: <%=item.tel%>
                    </li>
                    <li class="list-group-item">Ramal: <%=item.ramal%>
                    </li>
                    <li class="espec list-group-item">Especialidade: <%=item.espec%>
                    </li>
                    <div class="d-md-flex justify-content-md-between">
                      <a href="/view/deletar/<%= item._id %>" class="btn btn-danger mt-2">
                        <i class="bi bi-trash-fill"></i>
                        Excluir
                      </a>
                      <a href="editar/<%= item._id %>" class="btn btn-success mt-xs-2 mt-2">
                        <i class="bi bi-pen-fill"></i>
                        Editar
                      </a>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
    </div>
  </div>
</div>

<a class="text-center" href="#nav">
  <h1><i class="bi bi-arrow-up-circle"></i></h1>
</a>

    <%- include('../partials/footer')%>
