<%- include('../partials/head')%>
<%- include('../partials/headerLogadoAdm.ejs')%>
    <%- include('../partials/espec.ejs') %>

      <h1 class="text-center mt-3 mb-3">Cadastro de Cirurgião</h1>
      <div class="container d-flex justify-content-center align-center">
        <form action="/view/cadastrar" method="post" id="form-cadastro" class="cont-float shadow-lg">
          <!-- Primeira linha -->
          <fieldset class="form-group mt-3">
            <div class="row">
              <!-- Pronome título -->
              <legend class="col-form-label col-sm-1 pt-0">Título:</legend>
              <div class="col-lg-5">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="pronome" id="dr" value="Dr" checked />
                  <label class="form-check-label" for="pronome">Dr.</label>
                </div>
                <div class="form-check mt-2">
                  <input class="form-check-input" type="radio" name="pronome" id="dra" value="Dra" />
                  <label class="form-check-label" for="dra">Dra.</label>
                </div>
              </div>
              <!-- Foto perfil -->
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="profile">Selecione uma foto de perfil:</label>
                  <input required class="form-control" type="file" class="form-control-file" name="profile" id="profile"
                    value="<%=resultado.profile%>" />
                </div>
              </div>
            </div>
          </fieldset>

          <!-- Segunda linha  -->
          <div class="row mt-3">
            <!-- Nome  -->
            <div class="col">
              <label for="nome">Nome:</label>
              <input required type="text" class="form-control" id="nome" name="nome" minlength="3" placeholder="Nome"
                value="<%=resultado.nome%>" />
            </div>
            <!-- Sobrenome -->
            <div class="col">
              <label for="sobrenome">Sobrenome:</label>
              <input required type="text" class="form-control" id="sobrenome" name="sobrenome" minlength="2"
                placeholder="Sobrenome" value="<%=resultado.sobrenome%>" />
            </div>


          </div>

          <!-- Terceira linha  -->
          <div class="row mt-3">
            <!-- CPF  -->
            <!-- <div class="col">
        <div class="form-group mt-3">
          <label for="cpf">CPF:</label>
          <input required class="form-control" type="number" placeholder="Digite seu CPF" name="cpf" id="cpf" />
        </div> -->
            <!-- </div> -->

            <!-- CRM  -->
            <div class="col">
              <div class="form-group mt-3">
                <label for="crm">CRM:</label>
                <input required class="form-control" type="number" placeholder="Digite seu CRM" name="crm" id="crm"
                  value="<%=resultado.crm%>" />
              </div>
            </div>
          </div>

          <!-- Quarta linha  -->
          <div class="row mt-3">
            <!-- Email  -->

            <div class="col">
              <div class="form-group mt-3">
                <label for="email">Email:</label>
                <input required class="form-control" type="email" placeholder="nome@exemplo.com" name="email" id="email"
                  value="<%=resultado.email%>" />
              </div>
            </div>

            <!-- Celular  -->

            <div class="col">
              <div class="form-group mt-3">
                <label for="cel">Celular:</label>
                <input required class="form-control" type="number" placeholder="9xxxx-xxxx" name="cel" id="cel"
                  minlength="9" value="<%=resultado.cel%>" />
              </div>
            </div>
          </div>

          <!-- Quinta linha  -->
          <div class="row mt-3">
            <!-- Telefone  -->

            <div class="col">
              <div class="form-group mt-3">
                <label for="tel">Telefone:</label>
                <input required class="form-control" type="number" placeholder="xxxx-xxxx" name="tel" id="tel"
                  minlength="8" value="<%=resultado.tel%>" />
              </div>
            </div>

            <!-- Ramal  -->

            <div class="col">
              <div class="form-group mt-3">
                <label for="ramal">Ramal:</label>
                <input required class="form-control" type="number" placeholder="xxx" name="ramal" id="ramal"
                  value="<%=resultado.ramal%>" />
              </div>
            </div>
          </div>

          <!-- Sexta linha  -->
          <!-- Especialidades  -->

          <div class="row mt-3 mb-3">
            <div class="form-check">

              <legend class="col-form-label col-sm-2 pt-0">Especialidade:</legend>

              <div class="col">
                <% resultado.forEach(item=> { %>
                  <input type="checkbox" name="especNome" value="<%= item.especNome %>">
                  <%= item.especNome %> </input>
          
                <% }) %> 
              </div>
             
              

              <!-- <div class="col">
                <input type="checkbox" name="espec" value=" Lipoaspiração" />
                <label class="form-check-label" for="lipo">Lipoaspiração</label>

                <input type="checkbox" name="espec" value=" Abdominoplastia" />
                <label class="form-check-label" for="abdom">Abdominoplastia</label>

                <input type="checkbox" name="espec" value=" Mastopexia" />
                <label class="form-check-label" for="masto">Mastopexia</label>
              </div>

              <div class="col">
                <input type="checkbox" name="espec" value=" Mamoplastia" />
                <label class="form-check-label" for="mamo">Mamoplastia</label>

                <input type="checkbox" name="espec" value=" Rinoplastia" />
                <label class="form-check-label" for="rino">Rinoplastia</label>

                <input type="checkbox" name="espec" value=" Gluteoplastia" />
                <label class="form-check-label" for="gluteo">Gluteoplastia</label>
              </div>

              <div class="col">
                <input type="checkbox" name="espec" value=" Otoplastia" />
                <label class="form-check-label" for="oto">Otoplastia</label>

                <input type="checkbox" name="espec" value=" Ginecomastia" />
                <label class="form-check-label" for="gineco">Ginecomastia</label>

                <input type="checkbox" name="espec" value=" Blefaroplastia" />
                <label class="form-check-label" for="blefaro">Blefaroplastia</label>
              </div> -->
            </div>
          </div>

          <div>
            <input type="text" hidden name="idMed" value="<%=resultado._id%>">
            <button id="cancel-cadastro" type="reset" class="btn btn-danger">
              Cancelar
            </button>
            <button id="submit-cadastro" style="float: right;" type="submit" class="btn btn-primary">
              Cadastrar
            </button>
          </div>
        </form>
      </div>
      </form>
      </div>

      <script type="text/javascript" src="/js/cancelar.js"></script>
      <%- include('../partials/footer')%>