<<<<<<< HEAD
<%- include('../partials/head')%>
  <%- include('../partials/header') %>
=======
<%- include('../partials/head')%> <%-
include('../partials/headerLogadoUser.ejs') %>
>>>>>>> 1ad1f4c4b82b97a889966806f651056eb03d3ff5

    <div class="container mb-5 mt-5 text-center">
      <!-- Barra de pesquisa por nome de médico  -->
      <form action="#" method="#" class="form-inline my-2 my-lg-0">
        <input class="border border-success rounded mx-4" type="text" id="filter-medico" onkeyup="pesquisarMedico()"
          placeholder="Pesquisar por médico" />
        <input class="border border-success rounded mx-4" type="text" id="input-pesquisa-espec"
          onkeyup="pesquisarEspec()" placeholder="Pesquisar por especialidade" />
      </form>

      <h1 class="text-center mt-4">Médicos</h1>
      <!-- teste e o id colocado agora para -->
      <div id="card-container" class="container container-fluid">
        <div class="row">
          <% resultado.forEach(item=>{ %>
            <div class="col-lg-3 col-md-6 col-sm-6 d-flex justify-content-center">
              <div class="card mt-5 shadow" style="width: 20rem">
                <img src="/img/<%=item.profile%>" class="card-img-top" />
                <ul class="list-group list-group-flush">
                  <!-- <li class="list-group-item">Nome: <%=item.pronome%></li> -->
                  <li class="medico list-group-item">
                    Nome: <%=item.pronome%>. <%=item.nome%>
                  </li>
                  <li class="list-group-item">Sobrenome: <%=item.sobrenome%>
                  </li>
                  <li class="list-group-item">CRM: <%=item.crm%>
                  </li>
                  <li class="list-group-item">Telefone: <%=item.tel%>
                  </li>
                  <li class="list-group-item">Ramal: <%=item.ramal%>
                  </li>
                  <li class="espec list-group-item">Especialidade: <%=item.espec%>
                  </li>
                </ul>
              </div>
            </div>
            <% })%>
        </div>
      </div>
    </div>

    <a class="text-center" href="#nav">
      <h1><i class="bi bi-arrow-up-circle"></i></h1>
    </a>

    <%- include('../partials/footer')%>