<%- include('../partials/head')%>
<%- include('../partials/headerLogadoUser.ejs') %>

        <div class="container mb-5 mt-5 text-center">
          <!-- Barra de pesquisa por nome de médico  -->
          <form action="#" method="#" class="form-inline my-2 my-lg-0">
            <div class="col-12 d-flex flex-wrap justify-content-between mb-3">
              <input class="form-control border border-success rounded mx-4" type="text" id="filter-medico"
                onkeyup="pesquisarMedico()" placeholder="Pesquisar por médico" />
            </div>
            <div class="col-12 d-flex flex-wrap justify-content-between">
              <input class="form-control border border-success rounded mx-4" type="text" id="filter-espec"
                onkeyup="pesquisarEspec()" placeholder="Pesquisar por especialidade" />
            </div>
          </form>

          <h1 class="text-center text-white mt-4">Médicos</h1>
          <div class="card-lists container-fluid" id="card-container">
            <div class="row d-flex justify-content-center">
              <% resultado.forEach(item=>{ %>
                <div id="card-user" class="card mx-2 mb-4">
                  <img src="/img/<%=item.profile%>" alt="">
                  <div class="card-body">
                    <h4 class="card-title"><%=item.pronome%>. <%=item.sobrenome%>
                    </h4>
                    <ul class="list-group list-group-flush">
                      <li class="medico list-group-item">Nome: <%=item.nome%> <%=item.sobrenome%>
                      </li>
                      <li class="list-group-item">CRM: <%=item.crm%>
                      </li>
                      <li class="list-group-item">Telefone: <%=item.tel%>
                      </li>
                      <li class="list-group-item">Ramal: <%=item.ramal%>
                      </li>
                      <li class="espec list-group-item">Especialidade: <%=item.espec%>
                      </li>
                    </ul>
                  </div>
                </div>
                <% })%>
            </div>
          </div>

        <a class="text-center" href="#nav">
          <h1><i class="bi bi-arrow-up-circle"></i></h1>
        </a>

        <%- include('../partials/footer')%>