<%- include('../partials/head')%> <%- include('../partials/headerLogadoAdm') %>

<div class="container mb-5 mt-5 text-center">
  <!-- Barra de pesquisa por nome de médico  -->
  <input
    id="myInput"
    class="form-control mr-sm-2 mb-4"
    type="search"
    placeholder="Pesquisar por especialidade"
    onkeyup="pesquisarPageEspec()"
    aria-label="Search"
  />

  <h1>Lista de Especialidade</h1>
  <div class="container-fluid mt-4">
    <div class="row d-flex">
      <div class="col-12">
        <table id="myTable" class="table table-sm table-hover">
          <thead>
            <tr>
              <th>Especialidade</th>
              <th>Funções</th>
            </tr>
          </thead>
          <tbody>
            <% resultado.forEach(item=>{ %>
            <tr>
              <td><%= item.especNome %></td>
              <td>
                <a
                  href="/view/deletarEspec/<%= item._id %>"
                  class="btn btn-sm btn-primary"
                  >deletar</a
                >
                <!-- <a
                  href="/view/editarEspec/<%= item._id %>"
                  class="btn btn-sm btn-primary"
                  >editar</a
                > -->
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<a class="text-center" href="#nav">
  <h1><i class="bi bi-arrow-up-circle"></i></h1>
</a>

<%- include('../partials/footer')%>
