<%- include('../partials/head')%> <%- include('../partials/header') %>

<div class="container mb-5 mt-5 text-center">
  <!-- Barra de pesquisa por nome de médico  -->
  <input
    class="form-control mr-sm-2 mb-2"
    type="search"
    placeholder="Pesquisar por médico"
    aria-label="Search"
  />
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
    Pesquisar
  </button>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="col-6">
          <h1>Lista de Especialidade</h1>
        </div>
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th>Especialidade</th>
              <th>Funções</th>
            </tr>
          </thead>
          <tbody>
            <% resultado.forEach(item=>{ %>
            <tr>
              <td><%= resultado.espec %></td>
              <td>
                <a
                  href="/view/deletarEspec/<%= item._id %>"
                  class="btn btn-sm btn-primary"
                  >deletar</a
                >
                <a
                  href="/deletarLivro/<%= item._id %>"
                  class="btn btn-sm btn-primary"
                  >editar</a
                >
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <%- include('../partials/footer')%>
</div>
